<ion-content>

  <div class="logo">
    <img src="assets/images/buzul.png">
    <h2>Buzul</h2>
  </div>

  <br>

  <form [formGroup]="resetForm" class="form" (submit)="resetFirebase()" novalidate>

    <ion-item lines="none" class="item">
      <ion-input formControlName="email" type="email" placeholder="Enter Email" [class.invalid]="!resetForm.controls.email.valid && resetForm.controls.email.dirty"></ion-input>
    </ion-item>
        
    <div class="" *ngIf="!resetForm.controls.email.valid  && resetForm.controls.email.dirty">
      <p class="alert">Your email is not valid!</p>
    </div>

    <br>

    <ion-button expand="block" fill="solid" shape="round" color="primary" type="submit" [disabled]="!resetForm.valid">Register</ion-button>
  </form>  

  <div class="">
    <ion-button fill="clear" size="small" class="router" (click)="goLoginPage()">Login</ion-button>    
  </div>

</ion-content>