<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goProfilePage()">
        <ion-icon name="arrow-back"color="light"></ion-icon>
      </ion-button>
    </ion-buttons>    
    <ion-title color="light" text-center>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen common-parallax [scrollEvents]="true"> 

    <hr/>
    <ion-card color="secondary">
      <ion-list lines="none">
        <ion-item color="secondary">
          <ion-label class="label">Nombre</ion-label>
          <ion-input placeholder="Ingrese su nombre" [(ngModel)]="fullName" text-right></ion-input>
        </ion-item>  

        <ion-item color="secondary">
          <ion-label class="label">Genero</ion-label>
          <ion-select placeholder="Seleccione su genero" [(ngModel)]="gender">
            <ion-select-option value="M">Masculino</ion-select-option>
            <ion-select-option value="F">Femenino</ion-select-option>
          </ion-select>
        </ion-item>  

        <ion-item color="secondary">
          <ion-label class="label">Fecha de nacimiento</ion-label>
          <ion-datetime placeholder="Seleccione una fecha" [(ngModel)]="birthDate"></ion-datetime>
        </ion-item>      
        
        <ion-item color="secondary">
          <ion-label class="label">Teléfono</ion-label>
          <ion-input placeholder="Ingrese su número telefónico" [(ngModel)]="phoneNumber" text-right></ion-input>
        </ion-item>       

      </ion-list>  
      
    </ion-card> 
    <hr/>
    <hr/>
      
    <div class="">
      <ion-button expand="block" fill="solid" size="small" color="secondary" (click)="saveUserProfile(fullName, gender, birthDate, phoneNumber)">GUARDAR</ion-button>
    </div>

</ion-content>
