<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>       
    <ion-title color="light" text-center>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen common-parallax [scrollEvents]="true">        
  <ion-card>
    <img src="assets/images/avatar2.jpg">
    <!-- Name -->
    <ion-card-header color="secondary">
      <div *ngIf="userProfile?.fullName==null; then thenNameNull; else elseName"></div>
      <ng-template #thenNameNull>
        <ion-card-title color="primary">Undefined</ion-card-title>
      </ng-template>
      <ng-template #elseName>
        <ion-card-title color="primary">{{ userProfile?.fullName }}</ion-card-title>
      </ng-template>      
    </ion-card-header>
    
    <!-- Gender -->
    <ng-template [ngIf]="userProfile?.gender=='M'">
      <ion-item color="secondary">
        <ion-icon name="male" slot="start" color="primary"></ion-icon>
        <ion-label color="light">Male</ion-label>
      </ion-item>
    </ng-template>
    <ng-template [ngIf]="userProfile?.gender=='F'">
      <ion-item color="secondary">
        <ion-icon name="female" slot="start" color="primary"></ion-icon>
        <ion-label color="light">Female</ion-label>
      </ion-item> 
    </ng-template>
    <ng-template [ngIf]="userProfile?.gender==null">
      <ion-item color="secondary">
        <ion-icon name="contacts" slot="start" color="primary"></ion-icon>
        <ion-label color="light">Undefined</ion-label>
      </ion-item> 
    </ng-template> 

    <!-- Birth Date -->
    <div *ngIf="userProfile?.birthDate==null; then thenDateNull; else elseDate"></div>
    <ng-template #thenDateNull>
      <ion-item color="secondary">
        <ion-icon name="pulse" slot="start" color="primary"></ion-icon>
        <ion-label color="light">Undefined</ion-label>
      </ion-item>
    </ng-template>
    <ng-template #elseDate>
      <ion-item color="secondary">
        <ion-icon name="pulse" slot="start" color="primary"></ion-icon>
        <ion-label color="light">{{ userProfile?.birthDate | date : 'dd MMM yyyy' }}</ion-label>
      </ion-item>
    </ng-template>

    <!-- Skill -->
    <div *ngIf="userProfile?.skill==null; then thenSkillNull; else elseSkill"></div>
    <ng-template #thenSkillNull>
      <ion-item color="secondary">
          <ion-icon name="list-box" slot="start" color="primary"></ion-icon>
          <ion-label color="light">Undefined</ion-label>
      </ion-item>  
    </ng-template>
    <ng-template #elseSkill>
      <ion-item color="secondary">
        <ion-icon name="list-box" slot="start" color="primary"></ion-icon>
        <ion-label color="light">{{ userProfile?.skill }}</ion-label>
      </ion-item>  
    </ng-template>

    <!-- Phone -->
    <div *ngIf="userProfile?.sharePhone==false; then thenPhoneNull; else elsePhone"></div>
    <ng-template #thenPhoneNull>
      <ion-item color="secondary">
        <ion-icon name="call" slot="start" color="primary"></ion-icon>
        <ion-label color="light">Private</ion-label>
      </ion-item>  
    </ng-template>
    <ng-template #elsePhone>
      <ion-item color="secondary">
        <ion-icon name="call" slot="start" color="primary"></ion-icon>
        <ion-label color="light">{{ userProfile?.countryCode }} {{ userProfile?.phoneNumber }}</ion-label>
      </ion-item>  
    </ng-template>
    
    <!-- Website -->
    <div *ngIf="userProfile?.shareWebsite==false; then thenWebsiteNull; else elseWebsite"></div>
    <ng-template #thenWebsiteNull>
      <ion-item color="secondary">
        <ion-icon name="mail" slot="start" color="primary"></ion-icon>
        <ion-label color="light">Private</ion-label>
      </ion-item>   
    </ng-template>
    <ng-template #elseWebsite>
      <ion-item color="secondary">
        <ion-icon name="mail" slot="start" color="primary"></ion-icon>
        <ion-label color="light">{{ userProfile?.website }}</ion-label>
      </ion-item>   
    </ng-template>
  
  </ion-card>  

  <div class="">
      <ion-button expand="block" fill="solid" size="small" class="save" color="secondary" (click)="goEdit()">EDIT</ion-button>
  </div>    

</ion-content>