<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">

    <!-- <ion-tab-button tab="main">
      <ion-icon name="ios-home" color="light"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="event-edit">
      <ion-icon name="clipboard" color="light"></ion-icon>
      <ion-label>Evento</ion-label>
    </ion-tab-button> -->
    
    <ion-tab-button tab="reports">
      <ion-icon name="clipboard" color="light"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profile">
      <ion-icon name="contact" color="light"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>