<ion-content>

  <div class="logo">
    <img src="assets/images/buzul5.png">
    <h1>Buzul</h1>
  </div>

  <br>

  <form [formGroup]="loginForm" class="form" (submit)="loginFirebase()" novalidate>

    <ion-item lines="none" class="item">
      <ion-input formControlName="email" type="email" placeholder="Enter Email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
        
    <div class="" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
      <p class="alert">Your email is not valid!</p>
    </div>

    <ion-item lines="none" margin-top class="item">
      <ion-input formControlName="password" type="password" placeholder="Enter Password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>

    <div class="" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      <p class="alert">Please enter more than 6 characters.</p>
    </div>

    <br>

    <ion-button expand="block" fill="solid" size="small" class="login" color="secondary" type="submit" [disabled]="!loginForm.valid">LOGIN</ion-button>
  </form>  

  <hr>

  <div class="">
    <ion-button fill="clear" size="small" class="router" color="secondary" (click)="goRegisterPage()">REGISTER</ion-button>    
    <ion-button fill="clear" size="small" class="router" color="secondary" (click)="goForgotPage()">FORGOT PASSWORD</ion-button>
  </div>  

</ion-content>