<ion-content>

  <div class="">
    <img src="assets/images/buzul5.png">
    <h1>Buzul</h1>
  </div>

  <br>

  <form [formGroup]="loginForm" class="form" (submit)="loginFirebase()" novalidate>

    <ng-template [ngIf]="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
      <p class="alert">Your email is not valid!</p>
    </ng-template>
    <ng-template [ngIf]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || loginForm.controls.email.touched)">
      <p class="alert">Please enter more than 6 characters.</p>
    </ng-template>

    <ion-item lines="none" class="item">
      <ion-icon name="mail" slot="start" color="tertiary"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="Enter Email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>

    <ion-item lines="none" margin-top class="item">
      <ion-icon name="lock" slot="start" color="tertiary"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Enter Password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>

    <br>

    <ion-button expand="block" fill="solid" size="small" color="secondary" type="submit" [disabled]="!loginForm.valid">LOGIN</ion-button>
  </form>  

  <hr>

  <div class="">
    <ion-button fill="clear" size="small" color="secondary" (click)="goRegisterPage()">REGISTER</ion-button>    
    <ion-button fill="clear" size="small" color="secondary" (click)="goForgotPage()">FORGOT PASSWORD</ion-button>
  </div>  

</ion-content>