ion-content {
	// --overflow: hidden;
	--background: none;
	// background-color: crimson; //red color for position control
	background-image: url("../../../assets/images/login.jpg");
	background-size: cover;
	text-align: center;

	img {
		// background-color: rgb(255, 38, 0); //control
		margin-top: 70px;
		width: 156px;
	}

	h1 {
		text-transform: uppercase;
		color: white;
		text-shadow: 4px 4px 3px var(--ion-color-tertiary-shade);
		font-size: 2.5em;		
	}

	.form {
		// background-color: rgb(240, 205, 11); //control
		padding-left: 40px;
		padding-right: 40px;
		.item{
			border-radius: 10px;
			--background: rgb(198, 248, 236);
			color: var(--ion-color-tertiary-shade);			
		}
		.alert{
			color: var(--ion-color-danger);
		}		
	}

	// .register{
		// font-size: 18px !important;
		// text-decoration-color: red;
	// }	
	// .router {
		// color: var(--ion-color-tertiary-shade);
		// color: white;
		// font-size: 18px !important;
		// --box-shadow: 2px 2px 3px var(--ion-color-tertiary-shade);
	// }
}