<ion-content common-parallax fullscreen [scrollEvents]="true">  
    
    <div padding-start padding-end class="">
    <br/>
    <h3 no-margin class="txt-primary fs-16 fw-600">Full Name</h3>
    <p no-margin class="txt-custom fs-13">{{userProfile?.fullName}}</p>
    </div>        

    <div padding-start padding-end class="">
    <br/>
    <h3 no-margin class="txt-primary fs-16 fw-600">Skill</h3>
    <p no-margin class="txt-custom fs-13">{{userProfile?.skill}}</p>
    </div>          

    <div padding-start padding-end class="">
    <br/>
    <h3 no-margin class="txt-primary fs-16 fw-600">Website</h3>
    <p no-margin class="txt-custom fs-13">{{userProfile?.website}}</p>  
    <br/>
    </div>             

    <div padding-start padding-end class="">
    <br/>
    <h3 no-margin class="txt-primary fs-16 fw-600">Email</h3>
    <p no-margin class="txt-custom fs-13">{{userProfile?.email}}</p>  
    <br/>
    </div>  

    <div class="">          
    <ion-row>
        <ion-col>
        <ion-button size="small" class="" color="secondary" *ngIf="shareMail">Mail<ion-icon name="ios-mail"></ion-icon></ion-button>
        </ion-col>
    </ion-row>
    </div>

    <div class="button-center">
        <ion-button expand="block" size="small" (click)="goEdit()">Edit</ion-button>  
    </div>    
  
  </ion-content>